body {
    background-color: cadetblue;
}

.main-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-section {
    background-color: cadetblue;
}

.text {
    background-color: aliceblue;
    color: rgb(95, 95, 199);
    border: 2px solid black;
    font-size: 20px;
    border-radius: 10%;
}

.num-row1 {
    display: flex;
}

.num-row2 {
    display: flex;
    justify-content: space-between;
}

.num-row3 {
    display: flex;
    justify-content: space-between;
}

.num-row4 {
    display: flex;
    justify-content: space-between;
}

.num-row5 {
    display: flex;
    justify-content: space-between;
}

#clear,
#equal {
    width: 100%;
}

#zero {
    width: 95%;
}

button {
    border-radius: 10%;
    background-color: antiquewhite;
    color: rgb(17, 93, 93);
    font-size: 20px;
    width: 40%;
}